    body {
     font-family: "Roboto", sans-serif;
     color: #434455;
     background-color: #fff;   
    }

    ul, 
    ol
    {list-style-type: none;
    }

    a {text-decoration: none;
    }

   

    .logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
    }


    .header-logo .logo-part{
       color:  #2e2f42;
    }


    .footer-logo .logo-part{
       color:  #f4f4fd;
    }

    .nav-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
    }
      
    .contacts{
        font-style: normal;
     }
     
     .contacts-link{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
     }
   
     .nav-link:hover,
     .nav-link:focus, 
     .contacts-link:hover,
     .contacts-link:focus {
    color: #404bbf;
    }


   .section-hero {
       background: #2e2f42;

   }

   .title-hero{
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
    
    }
    
 .hero-button{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;

}

.hero-button:hover,
.hero-button:focus{
    background: #404bbf;
    cursor: pointer;
}


ul
.features-item-title{
   font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

ul
.features-item-description{
   font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
     background: #fff;
}

    .section-team{
     background: #f4f4fd;
}

    .team-item{
     background: #fff;
}

   .team-title {
    background: #f4f4fd;
   }

    .team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}



ul
.team-item-title{
     font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;background: #fff;
}

ul
.team-list{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;background: #fff;
}

.team-paragraph{
        line-height: 1.5;
        letter-spacing: 0.02em;
}


.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}


ul
.portfolio-item-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

ul
.portfolio-description{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

}

    .page-footer{
        background-color: #2e2f42;
    color: #f4f4fd;
    }

    .page-footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
   

  