    body {
     font-family: "Roboto", sans-serif;
     color: #434455;
     background-color: #fff;   
    }

    * {
        box-sizing: border-box;
    }

        h1,
        h2,
        h3,
        p,
        ul {
            margin: 0;
            padding: 0;
        }
    
    ul, 
    ol
    {list-style-type: none;
    margin: 0;
    padding: 0;
}

    a {text-decoration: none;
    }

    img{
    display: block;
    width: 100%;
    height: auto;
}

    .container{
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

   
.page-header {
   border-bottom: 1px solid #e7e9fc
}

.header-container{
display: flex;
align-items: center;
justify-content: space-between;
max-width: 1158px;
margin: 0 auto;
padding: 0 15px;
} 

.header-nav{
    display: flex;
    align-items: center;
}

.logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.header-logo{
    padding: 24px 0;
    margin-right: 76px;
}

    .header-logo .logo-part{
       color:  #2e2f42;

    }


    .footer-logo .logo-part{
       color:  #f4f4fd;
    }


.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
    

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
    

  .contacts{
    font-style: normal;
    margin left: auto;
    }
    
    .contacts-list {
     display: flex;
     align-items: center;
    gap: 40px;
    }

     .contacts-link{
display: block;
padding: 24px 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}
  
     .nav-link:hover,
     .nav-link:focus, 
     .contacts-link:hover,
     .contacts-link:focus {
    color: #404bbf;
   
}


   .section-hero {
       background: #2e2f42;
       padding: 188px 0;
   }

   .title-hero{
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto;
    }
    
 .hero-button{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        display: block;
        margin-top: 57px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        border: none;
        cursor: pointer;
    }

.hero-button:hover,
.hero-button:focus{
    background: #404bbf;
}


.section-features{
padding: 120px 0 120px;

}

.features-list{
  display: flex;
  gap: 24px;
list-style: none;
padding: 0;
margin: 0;
}

.features-item{
width: calc((100% - 72px) / 4);
background-color: #fff;

}


.features-item-title{
   font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
    margin-bottom: 8px;

}


.features-item-description{
   font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
     background: #fff;
    }



    .section-team{
     background: #f4f4fd;
     padding: 120px;
   
    }

    .team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.team-item{
    flex-basis: calc((100% - 72px) /4);
    border-radius: 0 0 4px 4px;
    background: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);


}

.team-info{
    padding: 32px 0;
}

.team-item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;background: #fff;
    margin-bottom: 8px;
}



.team-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    }

   
   
    .section-portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;   
    margin-bottom: 72px;
}

.portfolio-list{
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
list-style: none;
padding: 0;
margin: 0;
}


.portfolio-item{
width: calc((100% - 48px) / 3);
}

.portfolio-item-info{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
    
.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-footer {
    background-color: #2e2f42;
    color: #f4f4fd;
    padding: 100px 0 100px;
}

.footer-logo{
    display: block;
    margin-left: 156px;
    margin-bottom: 16px;
    display: inline-block;
}

    .page-footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-left: 156px;
}
   

  