    body {
     font-family: "Roboto", sans-serif;
     color: #434455;
     background-color: #fff;   
    }

    * {
        box-sizing: border-box;
    }

        h1,
        h2,
        h3,
        p,
        ul {
            margin: 0;
            padding: 0;
        }
    
    ul, 
    ol
    {list-style-type: none;
    }

    a {text-decoration: none;
    }

    img{
    display: block;
    width: 100%;
    height: auto;
}

    .container{
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 1158px;
    margin-left: auto;
    margin right: auto;
    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section{}

.section title{

}
   
.page-header .container {
    display: flex;
    justify-content: space-between;
   height: 72px;
   align-items: center;
   gap: 76px;
}

.logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
display: flex;
align-items: center;

}


    .header-logo .logo-part{
       color:  #2e2f42;

    }


    .footer-logo .logo-part{
       color:  #f4f4fd;
    }

    .nav-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
display: block;
padding: 20px 0;
}

      
.header-nav{
display: flex;
flex-grow: 1;
justify-content: space-between;
}

.nav-list{
    display: flex;
    column-gap: 40px;

}
    
    .contacts{
        font-style: normal;

    }
     
     .contacts-link{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}
  
.contacts-list{
    display: flex;
    column-gap: 40px;
  }

     .nav-link:hover,
     .nav-link:focus, 
     .contacts-link:hover,
     .contacts-link:focus {
    color: #404bbf;
   
}


   .section-hero {
       background: #2e2f42;
       padding: 188px 0;
   }

   .title-hero{
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto;
    }
    
 .hero-button{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        display: block;
        margin-top: 57px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus{
    background: #404bbf;
    cursor: pointer;
}

.section1-features{
background color: #F4F4FD;
padding: 120px o 120px;
display: flex;
}

.features-list{
display: flex;
  gap: 24px;
}

.features-item{
width: calc((100 - 72px) / 4);
}

ul
.features-item-title{
   font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

ul
.features-item-description{
   font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
     background: #fff;
}



    .section-team{
     background: #f4f4fd;
     padding: 120px 0 60px;
   
    }


   .team-title {
    background: #f4f4fd;
   }

    .team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    max-width: 264px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
list-style: none;
margin: 0;
padding: 0;
}

.team-item{
border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    width: 264px;
    height: 380px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    width: calc((100% - 24px * 3) / 4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;


}

.team-item-title{
     font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;background: #fff;
margin: 32px 0 8px;
}

ul.team-list{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;background: #fff;

}


.team-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    }

   .section-portfolio{
    padding top: 120px;
    padding bottom: 120px;

}

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;   
}


ul .portfolio-item-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
width: calc((100% - 48px) / 3);
}

.portfolio-list{
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

ul .portfolio-description{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

    .page-footer{
    background-color: #2e2f42;
    color: #f4f4fd;
    padding: 100px;
}

.footer-logo{
    display: block;
    margin-left: 156px;
    margin-bottom: 16px;
    display: inline-block;
}

    .page-footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-left: 156px;
}
   

  